doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/style1.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Pixelify Sans')
    body
        div.container
            div.center
                div.row
                    div.content
                        h1 Juan's Taco Truck
                        br
                        button.colorButton1#taco-button(type="button")
                            img(src="https://openclipart.org/image/800px/337526" height=200 width=300)
                        br
                        br
                        div(id="randomStuff")
                            h3#score-display(style="color:greenyellow") Money:$#{score}
                        div.row
                            p#events
                        br
                        br

                        h3 Updates:
                        ol
                            li New User Technology!
                            br
                            li New Leaderboard system
                            br
                            li Same as before-ish

                    div.content2
                        div.column
                            h1(style="text-decoration: underline") Upgrades
                            div.row
                                p#mult-display Tacos Sold per Click: #{mult1}
                                button.colorButton2#upgrade1-button(type="button") Buy Upgrade ($20)
                            br
                            div.row
                                p#bonus-display Toppings Quality Multiplier: #{bonus}
                                button.colorButton2#upgrade2-button(type="button") Buy Upgrade ($2000)
                            br
                            div.row
                                p#worker-display Workers Hired: #{workers}
                                button.colorButton2#worker-button(type="button") Hire Worker ($5000)
                            br
                            div.row
                                p#restaurant-display Restaurants Owned: #{restaurants}
                                button.colorButton2#restaurant-button(type="button") Buy Restaurant ($50,000)
                            br
                            div.row
                                button.colorButton#save-button(type="button") Save
                                button.colorButton#reset-button(type="button" style="background-color: red") RESET
                            br
                            div.row
                                a.Button3(href='/' style="background-color: greenyellow") Home Page
                                a.Button3(href='/logout' style="background-color: red") Log Out
                            br
                            div.center#total Total Earnings per Click: #{mult1}
script(src="/javascripts/script.js")
